@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="~/css/style.css" />

        <title>PizzaMama</title>
</head>

<body class="home_page">

    <div class="centered">
        <img src="~/images/main_logo.png" />

        <a class="home_page"asp-page = "MenuPizzas">Voir le menu</a>
    </div>

</body>
</html>


